/* Change all text and icon colors in the player. */
.vjs-ida.video-js {
  color: #71d8f5ff;
  border-radius: 0.5em;
}

.vjs-ida video {
  border-radius: 0.5em;
}

.vjs-ida .vjs-play-progress:before {
  background-color: #71d8f5ff;
}

/* Change the border of the big play button. */
.vjs-ida .vjs-big-play-button {
  color: #71d8f5ff;
  font-size: 5em;
  border: 0.05em solid;
  border-radius: 2em;
  background-color: rgb(247, 247, 242, 0.5);
  border-color: #71d8f5ff;
}

.vjs-ida .vjs-poster {
  border-radius: 0.5em;
}

.vjs-ida .vjs-icon-placeholder:before {
  border: none !important;
}

.vjs-ida .vjs-control-bar {
  color: #fe586fff;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  font-size: 10px;
  height: 36px;
  background-color: rgb(247, 247, 242, 0.5);
}

.vjs-ida .vjs-picture-in-picture-control,
.vjs-ida .vjs-fullscreen-control,
.vjs-ida .vjs-volume-level,
.vjs-ida .vjs-volume-panel-horizontal {
  margin-top: -10px;
}

.vjs-ida .vjs-play-control {
  margin-top: -5px;
}

.vjs-ida .vjs-play-progress,
.vjs-ida .vjs-slider-bar {
  background: #ecf877ff;
}

/* Change the color of various "bars". */
.vjs-ida .vjs-volume-level {
  background: #71d8f5ff;
}
