/*Omaa CSS koodia*/

.customhr {
  border: 0.5px solid #fed7b5;
  margin: 0.1rem 1.25rem 0.8rem 0;
}

.footerhr {
  width: 97%;
  border: 0.5px solid white;
  opacity: 0.5;
  margin: 0.5rem;
}

.footerCustom {
  position: absolute;
  right: 30px;
}

#msg-input {
  display: none;
}

#leaveBtn {
  display: none;
}

#roomDiv {
  display: none;
}

hr {
  border: 0.5px solid #71d8f5;
  margin: 0.5rem 1.25rem 0.8rem 0;
}

.glowBorder {
  box-shadow: #fe8a3b 0px 0px 14px 0px, #ffffff 0px 0px 7px -1px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease;
}
.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

svg text {
  font-family: "Gemunu Libre", sans-serif;
  letter-spacing: 1px;
  stroke: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  stroke-width: 1;
  animation: textAnimate 4s infinite alternate;
  text-transform: uppercase;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #fe8a3b;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #ffffff;
  }
}

@media (min-width: 768px) {
  .bannerHeight {
    max-height: 37rem;
  }

  .countdown-container {
    top: 23%;
    right: 7%;
  }

  svg text {
    font-size: 1.8rem;
  }

  .chatBox {
    width: 40rem;
  }

  .modalBody {
    height: 26rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-lg font-semibold text-mm-orange;
  }
}

@layer components {
  .orange-heading {
    @apply font-gemunu-libre text-xl font-bold mb-3 text-mm-orange uppercase;
  }

  .white-heading {
    @apply font-gemunu-libre text-xl font-bold mb-3 text-mm-white uppercase;
  }

  .btn-live {
    @apply bg-mm-orange text-mm-white hover:bg-mm-white hover:text-mm-orange font-semibold text-lg py-2 px-4 cursor-pointer rounded-md font-gemunu-libre;
  }

  .btn-yellow {
    @apply bg-mm-orange text-mm-white font-bold text-sm px-4 cursor-pointer rounded-md;
  }

  .infoBox {
    @apply m-3 p-5 bg-mm-blue/50 text-mm-white rounded;
  }
}
