/*Omaa CSS koodia*/
.customhr {
  border: 0.5px solid #fed7b5;
  margin: 0.1rem 1.25rem 0.8rem 0;
}

.footerhr {
  width: 97%;
  border: 0.5px solid white;
  opacity: 0.5;
  margin: 0.5rem;
}

.footerCustom {
  position: absolute;
  right: 30px;
}

#msg-input {
  display: none;
}

#leaveBtn {
  display: none;
}

#roomDiv {
  display: none;
}

hr {
  border: 0.5px solid #71d8f5;
  margin: 0.5rem 1.25rem 0.8rem 0;
}

.glowBorder {
  box-shadow: #fe8a3b 0px 0px 14px 0px, #ffffff 0px 0px 7px -1px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease;
}
.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* DEMO-SPECIFIC STYLES */
.typewriter-effect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end);
}

.typewriter-effect2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end);
  animation-delay: 2s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (min-width: 768px) {
  .bannerHeight {
    height: 37rem;
  }

  .countdown-container {
    top: 25%;
    right: -30%;
  }
}

@media (min-width: 1024px) {
  .desktopLive {
    top: 27rem;
    right: 5rem;
    padding: 25px !important;
    font-size: 1.5em !important;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px,
      rgba(255, 255, 255, 0.12) 0px 4px 6px,
      rgba(255, 255, 255, 0.17) 0px 12px 13px,
      rgba(255, 255, 255, 0.09) 0px -3px 5px; */
    border-radius: 20px !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-lg font-semibold text-mm-orange;
  }
}

@layer components {
  .orange-heading {
    @apply font-gemunu-libre text-xl font-bold mb-3 text-mm-orange uppercase;
  }

  .white-heading {
    @apply font-gemunu-libre text-xl font-bold mb-3 text-mm-white uppercase;
  }

  .btn-live {
    @apply bg-mm-orange text-mm-white hover:bg-mm-white hover:text-mm-orange font-semibold text-lg py-2 px-4 cursor-pointer rounded-md font-gemunu-libre;
  }

  .btn-live-small {
    @apply bg-mm-orange text-mm-white font-semibold text-xs p-2 cursor-pointer rounded-md;
  }

  .infoBox {
    @apply m-3 p-5 bg-mm-blue/50 text-mm-white;
  }
}
